@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* La clase gradient custom investigue como usarla para no usar una imagen como background o cambiar su color desde css */

.gradient-custom {    
    background: linear-gradient(rgba(36, 92, 157, 1),rgba(64, 146, 206, 0.98));
  }



  

body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background:url('/api/images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 80%;
}

.navbar{
    justify-content: center;
    align-items: center;
    background-size: 100%;
    
}




#txtAdmin{
    font-family: "Myriad pro Semibold" ;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 31px;
}



.card{
    width:20% !important;
    background: linear-gradient(rgba(36, 92, 157, 1),rgba(64, 146, 206, 0.98));
    border-radius: 20px;
    top: 20px;
    padding: 3%;

}


@media only screen  and (max-width:6000px){
    .card{
        width: 80% !important;
    }
}

 

#correo{
    width: 90%;
    margin-left: 5%;
}

#clave{
    width: 90%;
    margin-left: 5%;
}
    
.btn-primary{
    width: 80%;
    border: none;
    margin-top: 10%;
    background-color: white;
    color: rgba(64, 146, 206, 0.98);
}  




#contenedor-foott{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    height: 7rem;
    width: 100%;
    margin-left: 10%;
}


#ingresar{
    border-radius: 20rem;
    margin-left: 3.5rem;
    margin-top: 2rem;
    color:rgba(36, 92, 157, 1);
    width: 12rem;
}



  /* Cambio de  color para los componentes del footer*/

p{
    color: white;
}
  /* Cambio de  color para los componentes del footer*/


.col{
    background: linear-gradient(rgba(36, 92, 157, 1),rgba(64, 146, 206, 0.98));

}