body{
    background:url('/api/images/menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 80%;
}

.gradient-custom {    
    background: linear-gradient(rgba(36, 92, 157, 1),rgba(36, 92, 157, 1));
  }





p{
    color: white;
}



.card{
    width:20% !important;
    border-radius: 20px;
    top: 20px;
    margin-left: 7%;

}

.card-header{
    background: linear-gradient(rgba(36, 92, 157, 1),rgba(64, 146, 206, 0.98));
    font-weight: bold;
    font-style: italic;
}


@media only screen  and (max-width:6000px){
    .card{
        width: 100% !important;
    }
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#card1{
    margin-top: 1%;
    width: 25%;
}

#card2{
    margin-top: 2%;
    width: 25%;
}

#card3{
    margin-top: 2%;
    width: 25%;
}

#card4{
    margin-top: 2%;
    width: 25%;
}

#card5{
    margin-top: 2%;
    width: 25%;
}

